.dealersCardContainer {
    display: inline-flex;
    background-color: #444c8b;
    width:50%;
    min-width: 450px;
    margin: auto;
    height:100%;
}

.cardContainer {
    background-color: red;
    width:35%;
}

.cardNameContainer{
    background-color: #0f6674;
    width:65%;
}
